@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Cycles</h1>
	<p class="lead">
		Cycles is a website dedicated to people that love thier bikes regardless of your riding style.
		We support all riders and are here to give you options on parts, service, purchases, advice and more.
	</p>		
	<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" style="height: 200px">
	<img src="~/Images/20181020_190408.jpg" style="width:24%;height:200px;display:inline-block;padding-left:30px;" />
	<img src="~/Images/20181020_190425.jpg" style="width:24%;height:200px;display:inline-block;padding-left:5px;" />
	<img src="~/Images/20181020_190432.jpg" style="width:24%;height:200px;display:inline-block;padding-left:5px;" />
	<img src="~/Images/20181104_181419.jpg" style="width:24%;height:200px;display:inline-block;padding-left:5px;" />
</div>

<div class="row">
	<div class="col-md-4" style="display:block;" >
		<h2>Getting started</h2>
		<p>
			ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
			enables a clean separation of concerns and gives you full control over markup
			for enjoyable, agile development.
		</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Get more libraries</h2>
		<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Web Hosting</h2>
		<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
	</div>
</div>